$font-stack: 'Open Sans',sans-serif;
$color-base-dark: #4a4c61;
$color-primary: #c21f3a;
$color-info: #197dae;
$color-success: #309f50;
$color-default: #b2b4c3;
$color-text: #9698af;
$color-bg: #edecf1;